{% extends '@Hotel/layout.html.twig' %}

{% block content %}

    <div id="reservationPeriod">
        Od: <strong>{{ arrival | localizeddate('long', 'none', app.request.locale ) }}</strong>, Do:
        <strong>{{ departure | localizeddate('long', 'none', app.request.locale ) }}</strong>
    </div>

    {{ include('HotelBundle:Parts:_room_list.html.twig', { 'rooms': rooms, 'canAskForReservation': true }) }}

{% endblock content %}
