<!doctype html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hotele - WSB! :)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('css/hotel.css') }}">
</head>

<body>

{% for flashMessage in app.session.flashbag.get('notice') %}

    <div class="alert alert-success">
        {{ flashMessage }}
    </div>

{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}

    <div class="alert alert-error">
        {{ flashMessage }}
    </div>

{% endfor %}

<div class="container">
    <div class="row">
        {% include '@Hotel/Parts/_menu.html.twig' %}

        {% block content %}
        {% endblock content %}
    </div>
</div>

<script src="{{ asset('js/hotel.js') }}"></script>
</body>

</html>