{% extends '@Hotel/layout.html.twig' %}

{% block content %}
    <div class="col-lg-12">
        <img src="{{ asset('Hotel_Bristol_w_Warszawie.jpg') }}" class="img-responsive">
    </div>
{% endblock content %}
