{% extends '@Hotel/layout.html.twig' %}

{% block content %}
    {% for room in rooms %}
        <div class="col-lg-12" style="border: 1px solid grey; padding: 20px">

            <div class="col-lg-4">Zdjęcie</div>
            <div class="col-lg-8">{{ room.title }}</div>
        </div>
    {% endfor %}
{% endblock content %}