{% extends '@Hotel/layout.html.twig' %}

{% block content %}
    <style>
        #Restaurant p { padding-left: 10px }
        #Restaurant section:first-child { margin-top: 1em!important; }
        #Restaurant section,
        #Restaurant h4 { margin-top: 2em }
    </style>
    <div class="col-lg-12" xmlns="http://www.w3.org/1999/html" id="Restaurant">
        <section class="col-lg-12">
        <h2>Śniadanie</h2>

        <p>Jajka sadzone lub jajecznica z chipsem z boczku i wiosenną sałatką</p>

        <p>Trzy kanapki z prawdziwego chleba - wędzony łosoś, ser kozi, rostbef z sous vide</p>

        <p>Omlet Polki serwowany na patelni z cukinią, pomidorem, cebulą czerwoną i bazylią</p>

        <p>Omlet słodkiej Polki serwowany na patelni z owocami, pudrowany stevią lub cukrem pudrem</p>

        <p>Jogurt naturalny z musli i domową konfiturą , dekorowany owocami sezonowymi</p>

        <p>W cenie śniadania woda, sok, kawa, herbata mleko domowe konfitury, miód, masło własnej roboty, chleb pełnoziarnisty, croissanty wyrabiane ręcznie</p>

        <h4>Serwujemy od 8:00 do 10:00</h4>
        </section>
        <section class="col-lg-12">
            <h2>Obiad</h2>

            <p>Polędwiczka wieprzowa faszerowana śliwkami podana z sosem rozmarynowym i kluskami kładzionymi z szałwią</p>

            <p>Kurczę faszerowane po polsku chałką i wątróbką z koktajlem sałat</p>

            <p>Elegancka golonka wieprzowa na kapuście zasmażanej</p>

            <p>Chrupiąca kaczka lakierowana miodem podana z buraczkami i kluskami śląskimi</p>

            <p>Schabowy z kostką podany z ziemniakami tłuczonymi z cebulą i skwarkami</p>

            <p>Filet z sandacza w sosie winno-śmietanowym podany z aksamitnym groszkiem i duszonymi ziemniaczkami</p>

            <p>Zrazy wieprzowe po staropolsku z kaszą gryczaną</p>

            <p>Filet z halibuta podany na pomidorach z sosem maślanym</p>

            <p>Stek z polędwicy wołowej podany z kapeluszami grzybów leśnych i zielonymi warzywami z nutą chili</p>
            <h4>Serwujemy od 14:00 do 15:30</h4>
        </section>
        <section class="col-lg-12">
            <h2>Kolacja</h2>

            <p>Stół szwedzki</p>
            <h4>Serwujemy od 18:00 do 20:00</h4>
        </section>
    </div>
{% endblock content %}
