{% extends '@Hotel/layout.html.twig' %}

{% block content %}
    <div class="col-lg-12">
        <h2>Śniadanie</h2>

        <p>
            Jajka sadzone lub jajecznica z chipsem z boczku i wiosenną sałatką
            Trzy kanapki z prawdziwego chleba - wędzony łosoś, ser kozi, rostbef z sous vide
            Omlet Polki serwowany na patelni z cukinią, pomidorem, cebulą czerwoną i bazylią
            Omlet słodkiej Polki serwowany na patelni z owocami, pudrowany stevią lub cukrem pudrem
            Jogurt naturalny z musli i domową konfiturą , dekorowany owocami sezonowymi
            W cenie śniadania woda, sok, kawa, herbata mleko domowe konfitury, miód, masło własnej roboty, chleb pełnoziarnisty, croissanty wyrabiane ręcznie
        </p>
        <h3>Serwujemy od 8:00 do 10:00</h3>

        <h2>Obiad</h2>

        <p>
        Polędwiczka wieprzowa faszerowana śliwkami podana z sosem rozmarynowym i kluskami kładzionymi z szałwią
        Kurczę faszerowane po polsku chałką i wątróbką z koktajlem sałat
        Elegancka golonka wieprzowa na kapuście zasmażanej
        Chrupiąca kaczka lakierowana miodem podana z buraczkami i kluskami śląskimi
        Schabowy z kostką podany z ziemniakami tłuczonymi z cebulą i skwarkami
        Filet z sandacza w sosie winno-śmietanowym podany z aksamitnym groszkiem i duszonymi ziemniaczkami
        Zrazy wieprzowe po staropolsku z kaszą gryczaną
        Filet z halibuta podany na pomidorach z sosem maślanym
        Stek z polędwicy wołowej podany z kapeluszami grzybów leśnych i zielonymi warzywami z nutą chili
        </p>
        <h3>Serwujemy od 14:00 do 15:30</h3>

        <h2>Kolacja</h2>
        <p>
        Stół szwedzki
        </p>
        <h3>Serwujemy od 18:00 do 20:00</h3>
    </div>
{% endblock content %}
